*{margin:0;padding:0;
  	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}


/*-----中部的背景色------*/
.Large-background-color{
	 width:100%;
	 background:#f1f1f1;
}
/*-----头部-----*/
.heada{
     width:100%;
	 height:45px;
	 background:#f5f5f5;
	 border-bottom:1px solid #eeeeee;
}
.heada-a{
     width:1200px;
	 height:45px;
	 margin:0 auto;
}
.heada-a1{
     width:100px;
	 height:45px;
	 position:relative;
	 float:left;
}
.heada-a1>a{
     color:#3c3c3c;
	 font-size:12px;
	 line-height:45px;
	 margin-left:10px;
	 text-decoration:none;
}
.heada-a1-a{
     width:160px;
	 height:300px;
	 border:1px solid #f5f5f5;
	 display:none;
	 background:#fff;
	 overflow-y: scroll;
	 z-index: 15;
	 position: relative;
}
.heada-a1-b{
     width:100px;
	 height:2px;
	 background:#fff;
	 position:absolute;
	 top:45px;
	 left:0px;
	 display:none;
}
.heada-a1-a>ul>li{
     width:100px;
	 height:37px;
	 list-style:none;
     margin-left:20px;
}
.heada-a1-a>ul>li>a{
     text-decoration:none;
	 color:#3c3c3c;
}
/*---头部的hover效果---*/
.heada-a1:hover{
     background:#fff;
}
.heada-a1:hover .heada-a1-b, .heada-a1:hover .heada-a1-a{
     display:block;
}
.heada-a2{
     width:200px;
	 height:45px;
	 float:left;
	 font-size:12px;
	 line-height:45px;
}
.heada-a2>a{
     color:#6c6c6c;
	 text-decoration:none;
	 margin-left:10px;
}
.heada-a2>a:hover{
     color:red;
}
.heada-a3{
     width:650px;
	 height:45px;
	 float:right;
}
.heada-a3>ul>li{
     float:left;
	 list-style:none;
}
.heada-a3>ul>li>a{
     text-decoration:none;
	 color:#9c9c9c;
	 font-size:12px;
	 margin-left:10px;
}
.heada-a3>ul>li>a:hover{
     color:red;
}
.heada-a3-1{
     margin-left:15px;
	 line-height:45px;
}
.heada-a3-2{
     margin-left:10px;
	 line-height:45px;
}
.heada-a3-3{
     margin-left:10px;
	 line-height:45px;
}
.heada-a3-4{
     margin-left:10px;
	 line-height:45px;
}
/*-------------------头部完成》》>>>现在到搜索栏--*/
.search{
     width:100%;
	 height:166px;
}
.search1{
     width:1200px;
	 height:166px;
	 margin:0 auto;
}
.search1-a{
     width:155px;
	 height:80px;
	 background-image:url(img/logo.png);
	 background-size:100% 100%;
	 margin-top:30px;
	 float: left;
}
.search1-b{
	width: 630px;
	height: 88px;
	margin:  0 auto;
	margin-top: 25px;
}
.span-a a{
	background: #ff5400;
	color: #fff;
	width: 50px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: center;
}
.span-b a{
	color: #ff5400;
	width: 50px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: center;
}
.span-b a:hover{
	color: #fff;
	background: #ff5400;
}
.input-a{
	width: 500px;
	height: 36px;
	border: 2px solid #ff5400;
	float: left;
}
.input-ss{
	width: 120px;
	height: 40px;
	background: #ff5400;
	float: left;
	text-align: center;
}
.input-ss>a{
	color: #fff;
	line-height: 40px;
	font-size: 20px;
	outline:none;
}
.search-other li{
	float:left;
	margin:5px 5px;
}
.search-other li a{
	text-decoration:none;
	color:#666;
	line-height:18px;
}
.search-other li a:hover{
	color:#F50;
}
.search-other li:last-child{
	float:right;
}
.nav-tbh{
	color:#3C3C3C;
	width:990px;
	height:34px;
	padding-left:200px;
}
.nav-tbh ul{
	float:left;
}
.nav-tbh li{
	float:left;
	text-align:center;
	margin:0 3px;
	padding:0 3px;
}
.nav-tbh li:hover{
	background:#F50;
	border-radius:15px;
}
.nav-tbh li:hover a{
	color:white;
}
.nav-tbh a{
	text-decoration:none;
	color:#000;
	line-height:28px;
	font-weight:700;
	padding:0 4px;
}
.nav-hd a{
	font-size:16px;
	color:#F50;
}
.nav-bd a{
	font-size:14px;
}
.nav-tbh .shuxian{
	padding-top:4px;
	color:#ddd;
}
/*-------搜索栏完成  开始主题轮播图部分----------*/
/*-----------------左边塞选栏---------*/
.nav-big{
	width: 1200px;
	height: 520px;
	margin: 0 auto;
	border: 1px solid saddlebrown;
	position: relative;
	z-index: 1;
}
.nav-big1{
	width: 190px;
	height: 555px;
	position: absolute;
	top: -35px;
	left: 0;
	background: #ff6905;
	z-index: 10;
}
.zhutishichang{
	width: 190px;
	height: 35px;
	line-height: 35px;
}
.zhutishichang a{
	color: #fff;
	font-size: 18px;
	margin-left: 6px;
	margin-right: 90px;
}
.nav-big1 ul li{
	width: 190px;
	height: 30px;
	line-height: 30px;
}
.nav-big1 ul li:hover{
	background: #ff4005;
}
.nav-big1 ul li a{
	color: #fff;
	font-size: 15px;
	margin-left: 6px;	
}
.menu-box{
	width:692px;
	height:518px;
	left:190px;
	top:0;
	padding-left:10px;
	box-sizing:border-box;
	position:absolute;
	background:white;
	border:2px solid #FF6537;
	border-left:0;
	z-index: 8;
}
.box-left{
	width:427px;
	height:475px;
	padding:25px 10px 0 0;
	overflow:hidden;
	float:left;
	font-size:12px;
	color: fuchsia;
}
.box-left>div{
	width:427px;
	height:139px;
	margin-bottom:5px;
}
.box-left h3{
	border-bottom:1px solid #e0e0e0;
	width:100%;
	height:28px;
	line-height:28px;
	margin-bottom:10px;
		color: saddlebrown;
}
.box-left .box-chick1 .box-chichk{
	font-size:15px;
	line-height:28px;
	font-weight:700;

}
/*-----------开始轮播图-----------------------*/
.lunbotu{
	width: 520px;
	height: ;
}
